#cy {
  position: absolute;
  top: -50%;
  left: -45%;
  height: 200vh;
  width: 175vw;
  background-size: cover;
  background: transparent;
  background: url("../images/graphy.webp") repeat 0 0;
  animation: bg-scrolling-reverse 25s infinite;
  animation-timing-function: linear;
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 80px 160px;
  }
}
