#cy {
  position: absolute;
  top: -50%;
  left: -45%;
  height: 200vh;
  width: 175vw;
  background-size: cover;
  background: transparent;
  background: url("../assets/images/grid.svg") repeat 0 0;
  animation: bg-scrolling-reverse 35s infinite;
  animation-timing-function: linear;
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 400px 400px;
  }
}
