@font-face {
  font-family: "NuberNext Condensed";
  src: url(./assets/fonts/NuberNext-RegularCondensed.woff2);
}

@font-face {
  font-family: "Visitor";
  src: url(./assets/fonts/Visitor.woff2);
}

@font-face {
  font-family: 'Bender';
  src: local('Bender'),
    url(./assets/fonts/Bender.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bender';
  src: local('Bender Bold'), local('Bender-Bold'),
    url(./assets/fonts/Bender-Bold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bender';
  src: local('Bender Italic'), local('Bender-Italic'),
    url(./assets/fonts/Bender-Italic.woff2) format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans';
  src: local('Novecento sans UltraLight'), local('Novecentosans-UltraLight'),
    url(./assets/fonts/Novecentosans-UltraLight.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans';
  src: local('Novecento sans UltraBold'), local('Novecentosans-UltraBold'),
    url(./assets/fonts/Novecentosans-UltraBold.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans';
  src: local('Novecento sans Light'), local('Novecentosans-Light'),
    url(./assets/fonts/Novecentosans-Light.woff2) format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans';
  src: local('Novecento sans Bold'), local('Novecentosans-Bold'),
    url(./assets/fonts/Novecentosans-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans Book';
  src: local('Novecento sans Book'), local('Novecentosans-Book'),
    url(./assets/fonts/Novecentosans-Book.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans';
  src: local('Novecento sans Normal'), local('Novecentosans-Normal'),
    url(./assets/fonts/Novecentosans-Normal.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans';
  src: local('Novecento sans Medium'), local('Novecentosans-Medium'),
    url(./assets/fonts/Novecentosans-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans';
  src: local('Novecento sans DemiBold'), local('Novecentosans-DemiBold'),
    url(./assets/fonts/Novecentosans-DemiBold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url(./assets/fonts/JetBrainsMono-Regular.woff2) format('woff2');
}

.none {
  display: none !important;
}

/* why didn't i think of this before! */
.invisible {
  opacity: 0;
}

p,
a {
  font-family: "NuberNext Condensed", "Segoe UI", sans-serif;
}

a {
  color: #568eff;
}

a:hover {
  color: #0037ff;
}

body {
  margin: 0;
  background-color: #d9d9d9;
  background-image: url(./assets/images/background.svg);
  overflow-x: hidden;
  overflow-y: hidden;
  background-size: cover;
  background-attachment: fixed;
}

div {
  box-sizing: border-box;
}

label {
  display: block;
  margin: 10px 0;
  font-family: sans-serif;
  font-size: 9pt;
  color: #555555;
}

.center {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 28px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  pointer-events: none;
}

.close {
  position: absolute;
  justify-self: end;
  top: 8px;
  right: 8px;
  font-size: 8pt;
  color: black;
  border: 0px;
  background-color: #0000;
  cursor: pointer;
}



/*** here be vars ***/


/* Generic colors */
:root {
  --lnk-hvr: #00aeff;
  --green: #CCFF66;
  --green-rgb: 204, 255, 102;
}

/* Box shadows */
:root {
  --elev-1: 0px 1px 3px 0px rgba(0,0,0,0.12), 0px 1px 2px 0px rgba(0,0,0,0.24);
  --elev-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --elev-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --elev-1-glow: 0px 1px 3px 0px rgba(var(--adm1), 0.34), 0px 1px 2px 0px rgba(var(--adm1), 0.55);
}

/* NAVBAR COLORS */
/* General area (ftr_gen) */
:root {
  --gen1: 25, 25, 26;
  --gen2: 49, 49, 49;
  --btn-hvr: #0796d7;
  --btn-active: #008ed0;
  --btn-text: white;
}

/* User area (ftr_usr), (ftr_admin) */
:root {
    --usr1: 62,62,62;
    --usr2: 83,83,83;
    --adm1: 7,150,215;
    --adm2: 22,151,211;
    --adm-hvr: #f7fcfd;
    --adm-active: #d2f8ff;
    --adm-hvr-text: black;
}

/* DIALOG AND POPOUT COLORS */

:root {
    --card-bg: rgba(238, 238, 238, 0.92);
}
