@font-face {
  font-family: "NuberNext Condensed";
  src: url(./assets/fonts/NuberNext-RegularCondensed.woff2);
}

@font-face {
  font-family: "Visitor";
  src: url(./assets/fonts/Visitor.woff2);
}

@font-face {
  font-family: 'Bender';
  src: local('Bender'),
    url(./assets/fonts/Bender.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bender';
  src: local('Bender Bold'), local('Bender-Bold'),
    url(./assets/fonts/Bender-Bold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bender';
  src: local('Bender Italic'), local('Bender-Italic'),
    url(./assets/fonts/Bender-Italic.woff2) format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans';
  src: local('Novecento sans UltraLight'), local('Novecentosans-UltraLight'),
    url(./assets/fonts/Novecentosans-UltraLight.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans';
  src: local('Novecento sans UltraBold'), local('Novecentosans-UltraBold'),
    url(./assets/fonts/Novecentosans-UltraBold.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans';
  src: local('Novecento sans Light'), local('Novecentosans-Light'),
    url(./assets/fonts/Novecentosans-Light.woff2) format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans';
  src: local('Novecento sans Bold'), local('Novecentosans-Bold'),
    url(./assets/fonts/Novecentosans-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans Book';
  src: local('Novecento sans Book'), local('Novecentosans-Book'),
    url(./assets/fonts/Novecentosans-Book.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans';
  src: local('Novecento sans Normal'), local('Novecentosans-Normal'),
    url(./assets/fonts/Novecentosans-Normal.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans';
  src: local('Novecento sans Medium'), local('Novecentosans-Medium'),
    url(./assets/fonts/Novecentosans-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Novecento sans';
  src: local('Novecento sans DemiBold'), local('Novecentosans-DemiBold'),
    url(./assets/fonts/Novecentosans-DemiBold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.none {
  display: none !important;
}

/* why didn't i think of this before! */
.invisible {
  opacity: 0;
}

p,
a {
  font-family: "NuberNext Condensed", "Segoe UI", sans-serif;
}

a {
  color: #568eff;
}

a:hover {
  color: #0037ff;
}

body {
  margin: 0;
  background-color: #d9d9d9;
  background-image: url(./assets/images/background.svg);
  overflow-x: hidden;
  overflow-y: hidden;
  background-size: cover;
  background-attachment: fixed;
}

div {
  box-sizing: border-box;
}
